    {% extends 'base.html' %}
    {% load static %}
    {% block title %}Main Menu{% endblock %}
    {% block content %}
<!-- 
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}
 -->
    <div class="container text-center" id="index-page">
          <h1 class="index-title">Sanitation Hub</h1>
          <br>
          <img src="static/images/logo.png" width=400 height=177.319>
          <br>
          <p class="index-para">The Sanitation hub is a place to share and view data regarding the sanitation of area. It is also home to the 
              sanitation index.
          </p>
  </div>
    {% endblock %}
</body>
</html>